form {
  max-width: 700px;
  margin: 0 auto;
  background-color: var(--clr-black);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  color: var(--clr-orange);
}

input[type="text"],
input[type="file"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.upload__input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

textarea {
  height: 150px;
  resize: vertical;
}

button[type="submit"],
.delete-button,
.view-article-button {
  width: 100%;
  padding: 12px;
  background-color: var(--clr-black);
  color: var(--clr-orange);
  border: 1px solid var(--clr-orange);
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

button[type="submit"]:hover,
.delete-button:hover,
.view-article-button:hover {
  background-color: var(--clr-orange);
  color: var(--clr-black);
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.custom-upload-button {
  margin-bottom: 10px;
  padding: 12px;
  background-color: var(--clr-black);
  color: var(--clr-orange);
  border: 1px solid var(--clr-orange);
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}

.custom-upload-button:hover {
  background-color: var(--clr-orange);
  color: var(--clr-black);
}

.image-container {
  margin-top: 1rem;
  position: relative;
  display: inline-block;
}

.image-preview {
  width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.remove-image-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--clr-orange);
  color: white;
  border: var(--clr-black);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-image-button:hover {
  background-color: var(--clr-orange);
  color: var(--clr-black);
}

.branch-left,
.branch-right {
  position: fixed;
  top: 35rem;
  width: 400px;
  z-index: -1;
  pointer-events: none;
  transform: translateY(-50%);
}

.branch-left {
  left: 13rem;
}

.branch-right {
  right: 13rem;
}

.parallax img {
  object-fit: cover;
}
