.view-article-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.view-article-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.view-article-author {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #666;
}

.view-article-image {
  width: 50%;
  height: auto;

  margin-left: 13rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.view-article-content {
  font-size: 1.1rem;
  line-height: 1.6;
}
