/* Styles pour la page de redirection */
.redirect-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f0f4f8;
  font-family: "Arial", sans-serif;
  position: relative; /* Position relative pour contenir l'animation */
  overflow: hidden; /* Empêche les débordements */
}

.redirect-message h1 {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 1rem;
  animation: fadeIn 1.5s ease-in-out;
}

.redirect-message p {
  font-size: 1.2rem;
  color: #7f8c8d;
  animation: fadeIn 2s ease-in-out;
}

/* Animation pour une entrée en fondu */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Style du texte avec ombre */
.redirect-message h1,
.redirect-message p {
  opacity: 0;
  animation-fill-mode: forwards;
  text-shadow: 2px 4px 6px rgb(255, 255, 255);
}

/* Animation de la citrouille */
.pumpkin-animation {
  position: absolute;
  top: 50%;
  left: -200px; /* Commence hors de l'écran à gauche */
  transform: translateY(-50%);
  animation: movePumpkin 5s linear forwards; /* Durée de l'animation */
}

.pumpkin-animation img {
  width: 150px;
  opacity: 0.9;
}

/* Animation de déplacement de la citrouille */
@keyframes movePumpkin {
  0% {
    left: -200px; /* Commence hors de l'écran */
  }
  100% {
    left: 100vw; /* Traverse tout l'écran vers la droite */
  }
}
